* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
}

button{
cursor: pointer;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

header h1,
.modal > h2 {
  width: 100%;
  text-align: center;
}

.button-row {
  justify-content: center;
  align-items: center;
}

.add-entry-button,
.submit {
  margin: 3rem 0;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.hidden {
  display: none !important;
}

.add-entry-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  width: 600px;
  height: 360px;
  background-color: white;
  padding: 2rem;
  border-radius: 4px;
}

.textarea {
  width: 100%;
}

.submit {
  margin-left: auto;
  margin-top: 1rem;
}

input,
textarea,
select {
  margin: 1rem 0;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
}

select {
  margin-right: 0.5rem;
}

.days-row{
  min-height: 200px;
  justify-content: space-between;
  align-items: center;
}

.day-button{
  width: 5rem;
  height: 5rem;
}

.todo-list{
  width: 100%;
  height: 400px;
}

.column-full{
  width: 100%;
  text-align: center;
}

table{
  width: 100%;
  border: 2px solid black;
  border-radius: 4px;
}

tr{
  height: 2rem;
}

tr:nth-child(even){
  background-color: rgb(193, 193, 193);
}
thead{
  background-color: rgb(121, 121, 121);
}

td{
  padding-left: 10px;
}

.schedule-title{
  margin-bottom: 2rem;
}
